GEMINI_API_KEY=tua_chiave_api_qui
MODELLO_PRINCIPALE=models/gemini-1.5-pro
MODELLO_FALLBACK=models/gemini-1.5-flash
MODELLO_AUDIO=models/gemini-1.5-flash
MODELLO_EMBEDDING=models/text-embedding-004

DATA_LAKE_PATH=C:\Users\baron\LAVORO\PRODOTTI SOFOOD